/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background: #f4f6ff;
}

/* CONTAINER */
.container {
  width: 85%;
  margin: auto;
  padding: 30px 0;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #ff7a18, #6a11cb);
  color: white;
  text-align: center;
  padding: 50px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.profile-pic {
  width: 120px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 10px;
}

.title {
  margin: 10px 0;
}

.tagline {
  font-size: 14px;
}

/* BUTTONS */
.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: white;
  color: #6a11cb;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}

.buttons a:hover {
  background: yellow;
}

/* SECTIONS */
h2 {
  margin-bottom: 15px;
  color: #6a11cb;
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #ffb6b9;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 15px;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  background: #6a11cb;
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
  text-decoration: none;
}

/* CONTACT */
.contact {
  text-align: center;
}

/* FOOTER */
footer {
  background: #6a11cb;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
